// 색상 변수
$primary: #3498db;
$secondary: #2ecc71;
$danger: #e74c3c;
$gray: #f4f4f4;
$primary-hover: #1e5f8a;
$secondary-hover: #166939;
$danger-hover: #691f17;
$gray-hover: #aaaaaa;

// 폰트
$font-main: "Noto Sans", sans-serif;
